
\.gradle/4\.4/fileContent/fileContent\.lock

\.gradle/4\.4/fileHashes/fileHashes\.bin

\.gradle/4\.4/fileHashes/fileHashes\.lock

\.gradle/4\.4/taskHistory/taskHistory\.bin

\.gradle/4\.4/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/outputFiles\.bin

\.idea/\.name

\.idea/compiler\.xml

\.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_2_3\.xml

\.idea/libraries/Gradle__ch_qos_logback_logback_core_1_2_3\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_5\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_5\.xml

\.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_3_2\.xml

\.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_10_0\.xml

\.idea/libraries/Gradle__org_apache_logging_log4j_log4j_to_slf4j_2_10_0\.xml

\.idea/libraries/Gradle__org_mongodb_bson_3_6_3\.xml

\.idea/libraries/Gradle__org_mongodb_mongodb_driver_3_6_3\.xml

\.idea/libraries/Gradle__org_mongodb_mongodb_driver_core_3_6_3\.xml

\.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_25\.xml

\.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_2_0_1_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_2_0_1_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_2_0_1_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_mongodb_2_0_1_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_2_0_1_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_data_spring_data_commons_2_0_6_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_data_spring_data_mongodb_2_0_6_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_aop_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_beans_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_context_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_core_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_expression_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_jcl_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_tx_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_web_5_0_5_RELEASE\.xml

\.idea/libraries/Gradle__org_yaml_snakeyaml_1_19\.xml

\.idea/modules\.xml

\.idea/modules/GitStalkerDataPull_main\.iml

\.idea/modules/GitStalkerDataPull_test\.iml

\.idea/modules/GitStalkerDataPull\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

build/classes/java/main/application/Application\.class

build/classes/java/main/enums/RequestStatus\.class

build/classes/java/main/enums/RequestType\.class

build/classes/java/main/enums/ResponseProcessor\.class

build/classes/java/main/processors/MemberIDProcessor\.class

build/classes/java/main/processors/MemberPRProcessor\.class

build/classes/java/main/processors/OrganizationDetailProcessor\.class

build/classes/java/main/processors/ResponseProcessorManager\.class

build/classes/java/main/processors/ResponseProcessorManager\$1\.class

build/classes/java/main/requests/Request\.class

build/classes/java/main/requests/Request\$1\.class

build/classes/java/main/requests/RequestManager\.class

build/classes/java/main/requests/RequestManager\$1\.class

build/classes/java/main/Tasks/OrganisationUpdateTask\.class

build/classes/java/main/Tasks/RequestProcessorTask\.class

build/classes/java/main/Tasks/ResponseProcessorTask\.class
